<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#f3705b" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

  <nav class="navbar navbar-expand-lg navbar-light header-nav sticky-top shadow-sm  bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/CD_withoutBG_logo.png" alt="" class="logo">
      </a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2 user-name">
          {{currentUser}}
        </li>
      </ul>
    </div>
  </nav>
<section class="test-section">
  <div class="container pb-5">
    <!-- <div class="row p-3 user-container">
      <div class="logo-icon ms-0">CareerDrishti</div>
      <div class="user-name text-center">user: {{currentUser}}</div>
    </div> -->
    <div class="row mt-5 p-3 question-row border border-dark rounded shadow-lg">
      <div class="question">
        <div class="py-1 h5">
          <p>
            {{questionNumber+1}}.&nbsp; {{questionData[questionNumber].question}}<span class="text-danger">
              *</span>
          </p>
          <p>
            &nbsp;&#40;{{questionData[questionNumber].questionMarathi}}<span class="text-danger">
              *</span> &#41;
          </p>
        </div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options" *ngFor="let option of options">
          <label class="options"> {{option.label}}
            <input type="radio" name="option2" id="optionButton2"
              (click)="onSelect(questionData[questionNumber].questionField, option.marks, questionNumber)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row mt-4 p-3 question-row border border-dark rounded shadow-lg">
      <div class="question">
        <div class="py-1 h5">
          <p>
            {{questionNumber+2}}.&nbsp; {{questionData[questionNumber+1].question}}<span class="text-danger">
              *</span>
          </p>
          <p>
            &nbsp;&#40;{{questionData[questionNumber+1].questionMarathi}}<span class="text-danger">
              *</span>&#41;
          </p>
        </div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options" *ngFor="let option of options">
          <label class="options">{{option.label}}
            <input type="radio" name="option" id="optionButton"
              (click)="onSelect(questionData[questionNumber+1].questionField, option.marks, questionNumber+1)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="buttons-row my-3 py-2">
      <div style="float: left;">
        <button type="button" [disabled]="isPrevDisabled" (click)="prevQuestion()" class="btn btn-lg">&lt;&lt;
          prev</button>
      </div>
      <div style="float: right;">
        <button type="button" *ngIf="isSubmit" (click)="submitTest()" class="btn btn-lg btn-submit "
          [routerLink]="['/instructions']" routerLinkActive="router-link-active" [disabled] = "isNextDisabled">Submit</button>
        <button type="button" *ngIf="!isSubmit" (click)="changeQuestion()" class="btn btn-lg" [disabled] = "isNextDisabled">next
          &gt;&gt;</button>
      </div>
    </div>
  </div>

  <!-- <div class="container" *ngIf="testLang == 'marathi'"> -->
  <!-- <div class="row p-3 user-container">
      <div class="logo-icon ms-0">CareerDrishti</div>
      <div class="user-name text-center">user: {{currentUser}}</div>
    </div> -->
  <!-- <div class="row mt-2 p-5 question-row">
      <div class="question">
        <div class="py-1 h5">
          <h4>
            {{questionNumber+1}}.&nbsp; {{questionData[questionNumber].questionMarathi}}<span class="text-danger">
              *</span>
          </h4>
        </div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options" *ngFor="let option of options">
          <label class="options">{{option.label}}
            <input type="radio" name="option2" id="optionButton2"
              (click)="onSelect(questionData[questionNumber].questionField, option.marks, questionNumber)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row mt-2 p-5 question-row">
      <div class="question">
        <div class="py-1 h5">
          <h4>
            {{questionNumber+2}}.&nbsp; {{questionData[questionNumber+1].questionMarathi}}<span class="text-danger">
              *</span>
          </h4>
        </div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options" *ngFor="let option of options">
          <label class="options">{{option.label}}
            <input type="radio" name="option" id="optionButton"
              (click)="onSelect(questionData[questionNumber+1].questionField, option.marks, questionNumber+1)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="buttons-row mt-3 py-2">
      <div style="float: left;">
        <button type="button" [disabled]="isPrevDisabled" (click)="prevQuestion()" class="btn btn-primary">&lt;&lt;
          prev</button>
      </div>
      <div style="float: right;">
        <button type="button" *ngIf="isSubmit" (click)="submitTest()" class="btn btn-success" [routerLink]="['/']"
          routerLinkActive="router-link-active">Submit</button>
        <button type="button" *ngIf="!isSubmit" (click)="changeQuestion()" class="btn btn-primary">next
          &gt;&gt;</button>
      </div>
    </div>
  </div> -->


</section>
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">School Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">

          <div class="form-group">
            <label for="language">Language:</label>
            <div>
              <input id="marathi" type="radio" value="marathi" name="language" formControlName="language">
              <label for="marathi">Marathi</label>
            </div>

            <div>
              <input id="english" type="radio" value="english" name="language" formControlName="language">
              <label for="english">English</label>
            </div>

            <div *ngIf="f.language.touched && f.language.invalid" class="alert alert-danger">
              Name is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button id="close" type="button" class="btn btn-secondary" >Close</button> -->
        <button class="btn btn-lg" type="submit" [disabled]="!form.valid" data-bs-dismiss="modal"
          (click)="submit()">Next</button>
      </div>
    </div>
  </div>
</div>

