header {
  background-color: white;
}
.navbar{
  border-bottom: 1px solid orange;
}
.navbar-brand img {
  width: 250px;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  font-size: 20px;
  border-bottom: 1px solid black;
  font-weight: italic;
}

.test-section {
  /* min-height: 100vh; */
  /* background: url("../../assets/images/test-sectionbg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.question {
  width: 90%;
}

.question-row {
  /* border: 1px solid black; */
  /* box-shadow: 10px 8px 8px 1px rgba(0, 0, 255, .2); */
  /* background-color: #bed5fd;
  transform: scale(1.001); */
}

.user-container {
  border-bottom: 1px solid #ddd;
}

.options {
  position: relative;
  padding-left: 40px;
}

#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  cursor: pointer;
}

.options input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  /* background-color: #c8c6c6; */
  border: 1px solid #a2a2a2;
  border-radius: 50%;
}

.options input:checked~.checkmark:after {
  display: block;
}

.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark {
  background-color: rgb(243, 112, 91);
  border: white;
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

@media(max-width:576px) {
  .question {
    width: 100%;
    word-spacing: 2px;
  }
}
.btn{
  background-color: rgb(243, 112, 91);
  color: white;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(243, 112, 91);
  color: white;
  animation: bounceFade 2s infinite;
  transition: background-color 0.3s;
}
.btn:hover{
  background-color: white;
  color: rgb(243, 112, 91);
  border: 1px solid rgb(243, 112, 91);
}
@keyframes bounceFade {
  /* 0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  40% {
    opacity: 0.9;
    transform: translateX(15px);
    scale: 0.9;
  } */
  60% {
    opacity: 0.9;
    transform: translateX(30px);
    scale: 1.1;
  }
}

.btn-submit{
  background-color: green;
  color: white;
}
.btn-submit:hover{
  background-color: white;
  color: green;
  border: 1px solid green;
}
