header{
  background-color: white;
  border-bottom: 1px solid black;
}
.navbar-brand img {
  width: 250px;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li{
  font-size: 20px;
  border-bottom: 1px solid gray;
}
.container {
  width: 75%; /* set the width of the container */
  background-color: white;
}
.mat-tab-group {
  background-color: #ebebeb; /* set the background color to gray (replace with your desired color) */
}
.field-title{
  font-size: 34px;
  height: fit-content;
  width: fit-content;
    border-bottom: 1px solid green;
  }

.field-text{
  text-indent: 2em;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

.field-text .first-letter{
  font-weight: bolder;
  font-size: 30px;
}

.tab-content{
  text-align: justify;
}

mat-expansion-panel{
  margin-top: 5px;
}


.job-info ul li ul{
  list-style: none;
  text-justify: justify;
}
