header {
  background-color: white;
}
.navbar{
  border-bottom: 1px solid orange;
}
.navbar-brand img {
  width: 250px;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  font-size: 20px;
}
.btn{
  background-color: rgb(243, 112, 91); 
  color: white;
}
.btn:hover{
  background-color: white; 
  color: rgb(243, 112, 91);
  border: 1px solid rgb(243, 112, 91);
}
.container {
  width: 75%;
  /* set the width of the container */
  background-color: white;
}
/* Add custom styles to the tab headers */
::ng-deep .mat-tab-group {
  background-color: #333;
  color: #fff;
}

/* Add custom styles to the selected tab header */
::ng-deep .mat-tab-group .mat-tab-label.mat-tab-label-active {
  background-color: #555;
}

/* Add custom styles to the tab content */
::ng-deep .mat-tab-body-wrapper {
  border: 1px solid #ddd;
}

.panel-title{
  color: rgb(243, 112, 91);
  font-size: 18px;
}
.fields-section {
  background-color: #e6f2ff;
}
.field-title {
  font-size: 34px;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  border-bottom: 1px solid green;
}

.field-text {
  text-indent: 2em;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

.field-text .first-letter {
  font-weight: bolder;
  font-size: 30px;
}

.info-container {
  display: flex;
  align-items: stretch;
}

.field-image {
  height: 100%;
  object-fit: cover;
}

.field-image-US{
  height: 80%;
  object-fit: cover;
}

.word-cloud {
  width: 100%;
}

.word-cloud img {
  width: 100%;
}

.tab-content {
  text-align: justify;
}

mat-expansion-panel {
  margin-top: 5px;
}


.job-info ul li ul {
  list-style: none;
  text-justify: justify;
}


/* ::ng-deep .mat-tab-list{
  background-color: #e98888;
} */

::ng-deep .mat-tab-list .mat-tab-label {
  color: black;
  font-weight: bold;
  }
