<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="p-4 text-center info-box" style="width: 50%;">
    <img src="../../assets/images/jumping.svg" alt="" height="300">
    <h2>You have completed the Aptitude Test. The result of the test will be communicated to you soon. Thank You!</h2>
    <br>
    <h2>तुम्ही अभियोग्यता चाचणी पूर्ण केली आहे. परीक्षेचा निकाल लवकरच तुम्हाला कळवला जाईल. धन्यवाद!</h2>
    <button class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active"
      (click)="enableHome()">Home</button>
  </div>
</div>
