:root {
  --primary: #rgb(243, 112, 91);
  --light: #F1F8FF;
  --dark: #0F172B;
}

.compoent-body{
  background-color: #F1F8FF;
}

.read-line{
  font-family: 'myriad';
  font-weight: bolder;
  font-size: 40px;
  line-height: normal;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2487ce;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  /* background: #fff; */
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.floating-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(243, 112, 91);
}

.floating-button:hover{
  background-color: #fff;
  color: rgb(243, 112, 91);
  border: 1px solid rgb(243, 112, 91);
}

.floating-right-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.floating-right-button button{
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgb(243, 112, 91);
  cursor: pointer;
}

.floating-right-button button:hover{
  background-color: #fff;
  color: rgb(243, 112, 91);
  border: 1px solid rgb(243, 112, 91);
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  /* background: #fff; */
  z-index: 997;
  /* border-bottom: 1px solid #e6f2fb; */
}

/* #header li {
  color: rgba(34, 54, 69, 7);
  font-weight: 500;
  border-radius: 2%;
} */
nav{
  height: 80px;
}
.add-color{
  background-color: black;
}


.navbar ul {
  list-style-type: none;
  font-size: 20px;
}

/* .navbar {
  background: white;
  padding: 2rem 2rem;
  height: 0rem;
  min-height: 12vh;
} */

/* .navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
} */

.collapse{
  height: 80px;
}

/* 
.navbar-brand img {
  width: 150px;
} */

.navbar-brand .logo, .brand-name{
  font-size: 26px;
}

@media screen and (max-width: 420px) {
  .nabvar {
    height: fit-content;
  }

  /* .navbar-collapse {
    width: 100%;
  } */

  /* .navbar-brand .img {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
  } */
}

.navbar-toggler {
  background-color: #F3705B;
  border: none;
  /* padding: 10px 6px; */
  outline: none;
}

/* .collapse {
  background-color: black; 
  height: 12vh;
} */

/* .navbar-toggler span {
  display: block;
  width: 30px;
  height: 4px;
  border: 1px;
  background-color: #fff;
}

.navbar-toggler span+span {
  margin-top: 4px;
  width: 26px;
  margin-left: 4px;
}

.navbar-toggler span+span+span {
  width: 22px;
  margin-left: 8px;
} */

/* .navbar-expand-lg .navbar-nav .nav-link {
  padding: 2rem 1.2rem;
  font-size: 1.2rem;
  position: relative;
} */

/* .navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 4px solid #F3705B;
}
*/
.navbar-nav .nav-item{
color:white;
  }
  
.navbar-nav .nav-item .nav-link.active {
  /* border-bottom: 4px solid #F3705B; */
  color: #F3705B;
} 

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative; 
  overflow:auto; 
  /* background-image: url('../../assets/images/circle-scatter-haikei.svg'); */
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/images/bg-image.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}

#hero .bg-blob {
  opacity: 0.8;
  left: 10%;
}

/* #hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

/* #hero .container {
  padding-top: 80px;
} */

#hero h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

#hero h2 {
  color: #ebebd8;
  margin: 10px 0 0 0;
  line-height: 1.2;
}

#hero .btn-get-started {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}
#hero .btn-get-started:hover {
  background: #3194db;
}

@media (min-width: 1000px) {
  #hero {
    background-attachment: fixed;
  }

  #hero h1 {
    font-size: 80px;
  }

  #hero h2 {
    font-size: 40px;
  }
}

@media (max-width: 999px) {
  #hero {
    height: 100%;
  }

  #hero h1 {
    font-size: 60px;
  }

  #hero h2 {
    font-size: 32px;
  }
}


@media (max-width: 770px) {
  #hero {
    height: auto;
  }

  #hero h1 {
    font-size: 42px;
  }

  #hero h2 {
    font-size: 25px;
  }
}

.header {
	position: relative;
	padding-top: 8rem;
	padding-bottom: 40%;
	background:  url('../../assets/images/bg-image.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header h1 {
	margin-bottom: 0.75rem;
  font-size: 42px;
	color: #eee;
}

.header h2{
  font-size: 25px;
}
.header .p-large {
	margin-bottom: 1.75rem;
	color: #ddd;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	margin-left: 0.5rem;
}

.header .btn-solid-lg:hover {
	border: 0.125rem solid rgb(243, 112, 91);
	color: rgb(243, 112, 91);
}

.header .btn-outline-lg {
	border: 0.125rem solid #fff;
	color: #fff;
}

.header .btn-outline-lg:hover {
	background-color: #fff;
	color: #333;
}

.header .outer-container {
	position: absolute;
	right: 0;
	bottom: -2rem;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  min-height: 100vh;
  padding: 80px 0;
  overflow: hidden;
}


  /* .fixed-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
} */

/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/

.video-bg{
  margin-top: 1rem;
  height: 90%;
  background: url("../../assets/images/lady-teacher-teaching-in-class.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #063856;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
}

.about-video .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about-video .content ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

#about {
  width: 100%;
  height: 100vh;
}

/* #about:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#about .container {
  padding-top: 250px;
  position: relative;
  border-radius: 20px;
  text-align: center;
  width: 80%;
}

#about h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#about h2 {
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}
#about .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
#about .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background: rgb(243, 112, 91);
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
#about .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	background: rgb(243, 112, 91);
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
#about .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #fff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* .item-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}  */

/* .show {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
} */

.efields{
  font-family: 'Poppins', 'sans-serif';
}
.fields:hover{
  .field-item{
  background-color: rgb(243, 112, 91);
  color: white;
  border: 1px solid rgb(243, 112, 91);
  }
  .field-name{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid whitesmoke;
  }
  .rounded-circle{
    background-color: whitesmoke;
  }
}
.field-item img {
  transition: transform 0.5s ease-in-out;
}

.field-item:hover img {
  transform: scale(1.1); 
}
.field-item button{
  /* background-color: rgb(243, 112, 91);
  color:white; */
  background-color: white;
  color: rgb(243, 112, 91);
  border: 1px solid rgb(243, 112, 91);
}
/* .field-item button:hover{
  background-color: white;
  color: rgb(243, 112, 91);
  border: 1px solid rgb(243, 112, 91);
} */
.field-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.item-description{
  margin-top: 1rem;
  font-size: 16px;
}
/* .efields {
  justify-content: center;
}

.efields h2 {
  padding-bottom: 10px;
  font-size: 40px;
  border-bottom: 1px solid gray;
}

.efields .field-box {
  transition: all .2s ease-in-out;
  border-radius: 5px;
  z-index: -2;
}

.efields .field-box:hover {
  transform: scale(1.1);
  box-shadow: 10px 8px 8px 1px rgba(0, 0, 255, .2);
}

.efields .icon-row {
  height: 80%;
}

.efields .name-row {
  height: 20%;
}


.efields .field-icon-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}

.efields .field-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}

.efields .field-name {
  text-align: center;
  font-size: large;
  text-transform: uppercase;
}


.expandField {
   padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.efields .field-row{
  border:1px solid black;
}

.efileds .field-row .fields-box {
  background-color: #009961;
}

#expand-top,
#expand {
  scroll-margin-top: 100px;
}

.hidden-block p {
  line-height: 1.6;
  font-size: large;
}

.efields a {
  color: black;
} */

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .about-video {
    padding-top: 50px;
  }

  .clients img {
    max-width: 40%;
  }
}
  /* .custom-owl-carousel .owl-carousel .owl-stage-outer .owl-stage .owl-item.active .carouselSlide {
    color: #FF0000;
  }
  .custom-owl-carousel .owl-dots .owl-dot.active {
    background-color: #FF0000; 
  } */

  .custom-carousel{
    align-self: center;
    /* width: 80%; */
    margin: auto;
    padding: 1rem;
  }

  .read{
    padding: 1rem;
    border-bottom: 1px solid rgb(243, 112, 91); 
  }

.slide{
  width: 80%;
  padding: 1rem;
  background-color: rgb(243, 112, 91);
  align-self: center;
  margin: auto;
}
.testimonial-item{
  color: white;
}

#testimonials .testimonial-item p{
  font-size: 18px;
}

#testimonials .testimonial-item h5{
  font-size: 16px;
}

.footer .section-title{
  font-size: 22px;
}

.footer a, span{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.footer .btn-link{
  font-size: 18px;
}

.footer p{
  font-size: 16px;
}

.footer .btn-social:hover{
background-color: rgb(243, 112, 91);
border: 1px solid rgb(243, 112, 91);
}