a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2487ce;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  border-bottom: 1px solid #e6f2fb;
}

#header li {
  color: rgba(34, 54, 69, 7);
  font-weight: 500;
  border-radius: 2%;
}

.navbar ul {
  list-style-type: none;
}

.navbar {
  background: white;
  padding: 2rem 2rem;
  height: 0rem;
  min-height: 12vh;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}


.navbar-brand img {
  width: 250px;
}

@media screen and (max-width: 420px) {
  .nabvar {
    height: fit-content;
  }

  .navbar-collapse {
    width: 100%;
  }

  .navbar-brand .img {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navbar-toggler {
  background-color: #F3705B;
  border: none;
  padding: 10px 6px;
  outline: none;
}

.collapse {
  background-color: white;
  height: 12vh;
}

.navbar-toggler span {
  display: block;
  width: 30px;
  height: 4px;
  border: 1px;
  background-color: #fff;
}

.navbar-toggler span+span {
  margin-top: 4px;
  width: 26px;
  margin-left: 4px;
}

.navbar-toggler span+span+span {
  width: 22px;
  margin-left: 8px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  /* padding: 2rem 1.2rem; */
  font-size: 1.2rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 4px solid #F3705B;
}

#header .navbar-nav .nav-item .nav-link.active {
  border-bottom: 4px solid #F3705B;
  color: #F3705B;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url('../../assets/images/circle-scatter-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}
#hero .bg-blob{
  opacity:0.8;
  left: 10%;
}
#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 80px;
}

#hero h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 72px;
  color: #063856;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #373736;
  margin: 10px 0 0 0;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}

#hero .btn-get-started:hover {
  background: #3194db;
}

@media (min-width: 1000px) {
  #hero {
    background-attachment: fixed;
  }

  #hero h1 {
    font-size: 80px;
  }

  #hero h2 {
    font-size: 40px;
  }
}

@media (max-width: 999px) {
  #hero {
    height: 100%;
  }

  #hero h1 {
    font-size: 60px;
  }

  #hero h2 {
    font-size: 32px;
  }
}


@media (max-width: 770px) {
  #hero {
    height: auto;
  }

  #hero h1 {
    font-size: 42px;
  }

  #hero h2 {
    font-size: 25px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  min-height: 100vh;
  padding: 80px 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #063856;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
}

.about-video .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about-video .content ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

#about {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/lady-teacher-teaching-in-class.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#about:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about .container {
  padding-top: 250px;
  position: relative;
  text-align: center;
}

#about h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#about h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

#about .play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#063856 50%, rgb(6, 56, 86) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

#about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 3s;
  animation: pulsate-btn 3s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgb(243, 112, 91);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#about .play-btn:hover::after {
  border-left: 15px solid rgb(243, 112, 91);
  transform: scale(20);
}

#about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

.efields {
  justify-content: center;
}

.efields h2 {
  padding-bottom: 10px;
  font-size: 40px;
  border-bottom: 1px solid gray;
}

.efields .field-box {
  transition: all .2s ease-in-out;
  border-radius: 5px;
  z-index: -2;
}

.efields .field-box:hover {
  transform: scale(1.1);
  box-shadow: 10px 8px 8px 1px rgba(0, 0, 255, .2);
}

.efields .icon-row {
  height: 80%;
}

.efields .name-row {
  height: 20%;
}


.efields .field-icon-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}

.efields .field-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}

.efields .field-name {
  text-align: center;
  font-size: large;
  text-transform: uppercase;
}


.expandField {
  /* padding: 10px; */
  border-radius: 10px;
  border: 1px solid gray;
}

/* .efields .field-row{
  border:1px solid black;
} */

.efileds .field-row .fields-box {
  background-color: #009961;
}

#expand-top,
#expand {
  scroll-margin-top: 100px;
}
.hidden-block p{
  line-height: 1.6;
  font-size: large;
}
.efields a {
  color: black;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .about-video {
    padding-top: 50px;
  }

  .clients img {
    max-width: 40%;
  }
}

/* #testimonials .container {
  /* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* flex-direction: column; */
/* text-align: center;
  bottom: 0;
  top: 0;
  left:auto;
  right: auto; */
/* height: 100%; */
/* } */
#testimonials .read{
  padding-bottom: 10px;
  font-size: 30px;
  border-bottom: 1px solid gray;
}
#testimonials .para-content{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
}
#testimonials .para-content h3{
  font-style: italic;
  color:#063856;
}
#testimonials .para-content .author{
  color: #F3705B;
}
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #063756;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote h3 {
  display: inline;
}
#testimonials .carousel-indicators button {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

#testimonials .carousel-indicators .active {
  background-color: #444;
}

/* #testimonials .carousel-inner .carousel-item{
  align-self: center;
  width: 80%;
  margin: auto;
} */
#testimonials .carousel-control-prev,
#testimonials .carousel-control-next {
  width: 10%;
}

#testimonials .carousel-control-next-icon,
#testimonials .carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

#testimonials .carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: gray;
}

#testimonials .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: gray;
}

@media (min-width: 1024px) {

  #testimonials .carousel-control-prev,
  #testimonials .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #testimonials h3 {
    font-size: large;
  }
}


footer .social-icons a {
  color: black;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f8fbfe;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #063856;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #2487ce;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #cde5f6;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #2487ce;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #3194db;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2487ce;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #3194db;
  color: #fff;
  text-decoration: none;
}
